footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;

  .container {
    max-width: 1240px;
    width: 95%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    img {
      height: 50px;
    }
  }
}
