.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 95%;
    max-width: 1240px;

    .logo {
      img {
        width: 120px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 10px;

      .link {
        padding: 12px;
        transition: all 0.5s ease;

        &:not(:last-child):hover {
          background-color: #8c8a8a;
          color: #fafafa;
          border-radius: 5px;
        }
      }

      h6 {
        font-size: 16px;
        font-weight: 300;
      }

      span {
        cursor: pointer;
        text-transform: uppercase;
      }

      .write {
        background-color: crimson;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        border: 1px solid white;
        transition: all 0.5s ease;

        &:hover {
          color: teal;
          background-color: white;
          border: 1px solid teal;
        }
      }
    }
  }
}
